
.headerO{
    display: flex;
    width: 100vw;
    height: 150px;
    background-image: url(/src/assets/BannerH.png);
    background-size: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.headerO_d{
width: 100vw;
height: 20px;
border-top-left-radius: 28px;
border-top-right-radius: 28px;
background-color: #FF5B87;
box-shadow: 0px 0px 1px 5px #0000003d;


}
.main_option{
    display: flex;
    width: 100vw;
    height: auto;
    margin-bottom: 10px;
    background: url(/src/assets/imgWeb/FundoTamanhos.png);
    background-size: 100%;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
   
}
.main_optionM{
    display: flex;
    width: 100vw;
    height: auto;
    margin-bottom: 10px;
    background: url(/src/assets/imgWeb/FundoTamanhos.png);
    background-size: 100%;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
}
.main_option_massabranca{
    background: url(/src/assets/imgWeb/massabranca.png);

    background-size: 101%;
    background-position: 0px 13px;


}
.main_option_massachocolate{
    background: url(/src/assets/imgWeb/massachocolate.png);

    background-size: 101%;
    background-position: 0px 13px;

}
.main_option_massared{
    background: url(/src/assets/imgWeb/massared.png);

    background-size: 101%;
    background-position: 0px 13px;

}
.option_left{
    width: auto;
    height: auto;
    justify-content: center;
    align-content: center;
    
    display: flex;
    
}
.option_left_infos{
    display: flex;
    width: 60vw;
    height: auto;
   
    
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.option_infos_aro{
    display: flex;

    width: 130px;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    background-color: #FF5B87;
}
.option_infos_fatias{
    display: flex;
    flex-direction: column;
    width: 180px;
    font-size: 1.9rem;
    justify-content: center;
    align-items: center;
    padding: 2px;
    height: 60px;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    background-color: #FF5B87;
}
.option_infos_fatia{
    width: 180px;
    height: 150px;
    background-image: url(/src/assets/imgWeb/fatia.png);
    background-size: 100%;
}
.option_infos_preco{
    font-size: 1.4rem;
}
.option_left_size{
    display: flex;
    width: 35vw;
    background-color: #FF7A99;
}
.midle_title{
    display: flex;
    width: 19px;
    height: auto;
    align-items: center;
    background-color: #FF5B87;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 5px 0px 1px 0px #00000010;

}
.midle_title_text{
    display: flex;
    position: relative;
    right: 32px;
    font-size: 1rem;
    margin: 0;
    color: white;
    height: auto;

    transform: rotate(90deg);
    
}

.options_indirecton{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    background-color:#fc6f90  ;

}
.option_a{
    display: flex;
    position: relative;
 
    
    width: 83px;
    height: 53px;
    background-color: #FF5B87;
    border-bottom-left-radius: 23px;
    border-top-left-radius: 23px;
}
.option_a_buttom {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 23px;
    background-color: #FF5B87;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0); /* Simula uma borda branca com opacidade */

    transition: transform 0.7s ease, border-color 0.3s ease, box-shadow 0.6s ease; /* Adicionado */
}

/* Quando a opção está ativa (selecionada) */
.option_a.selected .option_a_buttom {
    transform: translateX(-20px); /* Move para a esquerda */
    box-shadow: 0 0 0 5px rgb(255, 255, 255); /* Simula uma borda branca com opacidade */
    

    z-index: 3;
    
}

/* Adicionamos a classe para a animação suave quando a opção está ativa */
.selected .option_a_buttom {
    transform: translateX(-10px); /* Move para a esquerda */
    border-color: white; /* Borda branca */
    

}
.option_a_active{

    border: 5px;
    border-style: solid;
}




.option_right{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    
    justify-content: flex-end;
    align-items: flex-end;
    align-content: center;

}
.midle_title_right{
    display: flex;
    width: 19px;
    height: auto;
    align-items: center;
    background-color: #FF5B87;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: -5px 0px 1px 0px #00000010;

}
.midle_title_text_right{
    display: flex;
    position: relative;
    right: 20px;
    font-size: 1rem;
    margin: 0;
    color: white;
    height: auto;

    transform: rotate(-90deg);
}
.options_indirecton_b{
    display: flex;
    width: 100%;
    flex-direction: column;
    


}
.option_b{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;


    
    width: 83px;
    height: 63px;
    background-color: #FF5B87;
    border-bottom-right-radius: 28px;
    border-top-right-radius: 28px;
}
.option_b_buttom{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    right: 10px;
    border-radius: 23px;
    background-color: #FF5B87;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0); /* Simula uma borda branca com opacidade */

    transition: transform 0.7s ease, border-color 0.3s ease, box-shadow 0.6s ease; /* Adicionado */

}
.selected .option_b_buttom {
    transform: translateX(15px); /* Animação para mover à esquerda */
    box-shadow: 0 0 0 5px rgb(255, 255, 255); /* Simula uma borda branca com opacidade */
    z-index: 2;
}

/* Efeito de fade-out para a borda */

.option_b_buttom_white{
    background-color: #fcda76;

}
.option_b_buttom_chocolate{
    background-color: #a7603a;

}
.option_b_buttom_red{
    background-color: #ea0033;

}


.headerO_recheios{
    width: 100vw;
    height: 15px;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    background-color: #FF5B87;
    font-size: 0.7rem;
    
    }
.main_option_recheios{
    align-items: center;
   gap: 5px;
}

.top_list{
    display: flex;
    width: auto;
    height: auto;
    gap: 5PX;
    margin-left: 5px;
    margin-right: 5px;
}
.buttom_info_recheios{
    display: flex;
    width: auto;
    height: auto;
    background-color: #FF5B87;
    color: white;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 30px;
   

}
.buttom_info_txtH1{
    font-size: 1.7rem;
    
}
.buttom_info_txt{
    font-size: 1.1rem;
    padding: 10px;
}
.buttom_info_recheios_cor{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #ea0033;
}
.recheios_cor_NM{
    background-color: #ff4444;
}
.recheios_cor_brigadeiro{
    background-color: #522300;
}
.recheios_cor_ninho{
    background-color: #f0c8a9;
}
.recheios_cor_ameixa{
    background-color: #36005a;
}
.recheios_cor_abacaxi{
    background-color: #fcac00;
}
.recheios_cor_DL{
    background-color: #b96d32;
}


.topdecor{
    display: flex;
    width: 100vw;
    height: auto;
}
.topdecor_chantininho{
    width: 50%;
}
.topdecor_acetato{
    width: 50%;
}






@media screen and (min-width: 1000px) {
    .main_option {
      width: auto;
    }
    
  }