
.headerO{
    display: flex;
    width: 100%;    height: 150px;
    background-image: url(/src/assets/BannerH.png);
    background-size: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;

}
.headerO_d{
    width: 100%;
    height: 40px;
    
border-top-left-radius: 28px;
border-top-right-radius: 28px;
background-color: #FF5B87;
box-shadow: 0px 0px 1px 5px #0000003d;
font-size: 0.9rem;


}
.main_option{
    display: flex;
    width: 100%;    height: auto;
    margin-bottom: 10px;
    background: url(/src/assets/imgWeb/FundoTamanhos.png);
    background-size: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;


    justify-content: center;
   
}
.main_optionM{
    display: flex;
    width: 100%;    height: auto;
    margin-bottom: 10px;
    background: url(/src/assets/imgWeb/FundoTamanhos.png);
    background-size: 100%;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
}
.main_option_massabranca{
    background: url(/src/assets/imgWeb/massabranca-_1_.webp);

    background-size: 101%;
    background-position: 0px 13px;


}
.main_option_massachocolate{
    background: url(/src/assets/imgWeb/massachocolate-_1_.webp);

    background-size: 101%;
    background-position: 0px 13px;

}
.main_option_massared{
    background: url(/src/assets/imgWeb/massared-_1_.webp);

    background-size: 101%;
    background-position: 0px 13px;

}
.option_left{
    width: auto;
    height: 48vw;
    justify-content: center;
    align-content: center;
    
    display: flex;
    
}

.option_left_infos{
    display: flex;
    width: 60vw;
    height: auto;
   
    
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.option_infos_aro{
    display: flex;

    width: 130px;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    background-color: #FF5B87;
}
.option_infos_fatias{
    display: flex;
    flex-direction: column;
    width: 180px;
    font-size: 1.9rem;
    justify-content: center;
    align-items: center;
    padding: 2px;
    height: 60px;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    background-color: #FF5B87;
}
.option_infos_fatia{
    width: 180px;
    height: 150px;
    background-image: url(/src/assets/imgWeb/fatia.png);
    background-size: 100%;
}
.option_infos_preco{
    font-size: 1.4rem;
}
.option_left_size {
    display: flex;
    width: 35vw;
    height: 45vw;
    background-color: #FF7A99;
}
.midle_title{
    display: flex;
    width: 19px;
    height: auto;
    align-items: center;
    background-color: #FF5B87;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 5px 0px 1px 0px #00000010;

}
.midle_title_text{
    display: flex;
    position: relative;
    right: 32px;
    font-size: 1rem;
    margin: 0;
    color: white;
    height: auto;

    transform: rotate(90deg);
    
}

.options_indirecton{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    background-color:#fc6f90  ;

}
.option_a{
    display: flex;
    position: relative;
 
    
    width: 83px;
    height: 53px;
    background-color: #FF5B87;
    border-bottom-left-radius: 23px;
    border-top-left-radius: 23px;
}
.option_a_buttom {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 23px;
    background-color: #FF5B87;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0); /* Simula uma borda branca com opacidade */

    transition: transform 0.7s ease, border-color 0.3s ease, box-shadow 0.6s ease; /* Adicionado */
}

/* Quando a opção está ativa (selecionada) */
.option_a.selected .option_a_buttom {
    transform: translateX(-20px); /* Move para a esquerda */
    box-shadow: 0 0 0 5px rgb(255, 255, 255); /* Simula uma borda branca com opacidade */
    

    z-index: 3;
    
}

/* Adicionamos a classe para a animação suave quando a opção está ativa */
.selected .option_a_buttom {
    transform: translateX(-10px); /* Move para a esquerda */
    border-color: white; /* Borda branca */
    

}
.option_a_active{

    border: 5px;
    border-style: solid;
}




.option_right {
    display: flex
;
    position: relative;
    width: 100%;
    height: auto;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: center;
}
.midle_title_right{
    display: flex;
    width: 19px;
    height: auto;
    align-items: center;
    background-color: #FF5B87;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: -5px 0px 1px 0px #00000010;

}
.midle_title_text_right{
    display: flex;
    position: relative;
    right: 20px;
    font-size: 1rem;
    margin: 0;
    color: white;
    height: auto;

    transform: rotate(-90deg);
}
.options_indirecton_b{
    display: flex;
    width: 100%;
    height: 100%;

    flex-direction: column;
    


}
.option_b{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;


    
    width: 90px;
    height: 35%;
    background-color: #FF5B87;
    border-bottom-right-radius: 28px;
    border-top-right-radius: 28px;
}
.option_b_buttom{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    right: 10px;
    border-radius: 23px;
    background-color: #FF5B87;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0); /* Simula uma borda branca com opacidade */

    transition: transform 0.7s ease, border-color 0.3s ease, box-shadow 0.6s ease; /* Adicionado */

}
.selected .option_b_buttom {
    transform: translateX(15px); /* Animação para mover à esquerda */
    box-shadow: 0 0 0 5px rgb(255, 255, 255); /* Simula uma borda branca com opacidade */
    z-index: 2;
}

/* Efeito de fade-out para a borda */

.option_b_buttom_white{
    background-color: #fcda76;

}
.option_b_buttom_chocolate{
    background-color: #a7603a;

}
.option_b_buttom_red{
    background-color: #ea0033;

}


.headerO_recheios{
    width: 100%;    height: 15px;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    background-color: #FF5B87;
    font-size: 0.7rem;
    
    }
.main_option_recheios{
    align-items: center;
    padding-bottom: 5px;
   gap: 5px;
}

.top_list{
    display: flex;
    width: auto;
    height: auto;
    gap: 5PX;
    margin-left: 5px;
    margin-right: 5px;
}
.buttom_info_recheios{
    display: flex;
    width: auto;
    height: auto;
    background-color: #FF5B87;
    color: white;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 30px;
   

}
.buttom_info_txtH1{
    font-size: 1.7rem;
    
}
.buttom_info_txt{
    font-size: 1.1rem;
    padding: 10px;
}
.buttom_info_recheios_cor{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #ea0033;
}
.recheios_cor_NM{
    background-color: #ff4444;
}
.recheios_cor_brigadeiro{
    background-color: #522300;
}
.recheios_cor_ninho{
    background-color: #f0c8a9;
}
.recheios_cor_ameixa{
    background-color: #36005a;
}
.recheios_cor_abacaxi{
    background-color: #fcac00;
}
.recheios_cor_DL{
    background-color: #b96d32;
}


.topdecor{
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
}

.topdecor_chantininho_img{
    background: url(/src/assets/imgWeb/bannerachantininho-_1_.webp) no-repeat;
    background-size: 100%;

}
.topdecor_acetato_img{
   
    background: url(/src/assets/imgWeb/banneracetato2-_1_.webp) no-repeat;
    background-size: 100%;
    
}
.chantininho_txt{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding-left: 12px;
    padding-right: 12px;
    height: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-size: 1.1rem;
    background-color: #FF5B87;
}

.h1_topdecor{
    width: 100%;
    font-size: 1.4rem;
    background-color: #FF5B87;
}
.main_option_ac{
    display: flex;
    width: 100%;    height: auto;
    margin-bottom: 10px;
    background-size: 100%;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;


    justify-content: center;
}
.option_left_size_ac{
    display: flex;
    width: 31vw;
    height: auto;
    background-color: #FF7A99;
}
.option_a_ac{
    display: flex;
    position: relative;
 
    
    width: 113px;
    height: 50%;
    background-color: #FF5B87;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}
.midle_title_text_ac{
    display: flex;
    position: relative;
    right: 15px;
    font-size: 1rem;
    margin: 0;
    color: white;
    height: auto;

    transform: rotate(90deg);
}
.option_a_buttom_ac {
    display: flex;
    position: relative;
    align-items: center;
    font-size: 1rem;
    justify-content: center;
    width:  100px;
    height: 100%;
    border-radius: 50px;
    background-color: #FF5B87;
    box-shadow: 0 0 0 5px rgba(253, 253, 253, 0); /* Simula uma borda branca com opacidade */

    transition: transform 0.7s ease, border-color 0.3s ease, box-shadow 0.6s ease; /* Adicionado */
}
.option_infos_aro_ac{
    display: flex;

    width: auto;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    background-color: #FF5B87;
}
.option_left_infos_ac{
    display: flex;
    width: 64vw;
    height: 14vh;
   
    
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

/* Quando a opção está ativa (selecionada) */

/* Adicionamos a classe para a animação suave quando a opção está ativa */
.selected_ac .option_a_buttom_ac {
    transform: translateX(-10px); /* Move para a esquerda */
    border-color: white; /* Borda branca */
    box-shadow: 0 0 0 5px rgb(255, 255, 255); /* Simula uma borda branca com opacidade */
    z-index: 3;
    

}
.gif_section{
    display: flex;
    width: 100%;   
    height: 26vh;
    background-color: #fc6f90;
    justify-content: center;
    box-shadow: 0px 25px 43px 3px #ff92b6d2 inset;

}
.gif_div{
    display: flex;
    
    width: auto;
    height: auto;
    margin: 10px;
}
.foot_page{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    width: 100%;    height: 300px;
    background-color: #fc6f90;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 0px 0px 1px 5px #00000021;
    box-shadow: 0px -25px 43px 3px #5f1e3362 inset;

}
.roll1_div{
    width: 33vw;
    height: 100%;
    border-radius: 5px;
    background: url(/src/assets/imgWeb/roll1-_1_.webp);
    background-size: 100% auto; /* Largura 100% e altura automática */
    background-repeat: repeat-y; /* Repete o background apenas na vertical */
    animation: scrollBackgroundDawn 22s linear infinite; /* Animação infinita de 10s */
}
.roll2_div{
    width: 33vw;
    height: 100%;
    border-radius: 5px;
    
    background: url(/src/assets/imgWeb/roll2-_1_.webp);
    background-size: 100% auto; /* Largura 100% e altura automática */
    background-repeat: repeat-y; /* Repete o background apenas na vertical */
    animation: scrollBackgroundUp 25s linear infinite; /* Animação infinita de 10s */
}
.roll3_div{
    width: 33vw;
    height: 100%;
    border-radius: 5px;
    
    background: url(/src/assets/imgWeb/roll3-_1__1.webp);
    background-size: 100% auto; /* Largura 100% e altura automática */
    background-repeat: repeat-y; /* Repete o background apenas na vertical */
    animation: scrollBackgroundDawn 28s linear infinite; /* Animação infinita de 10s */
}
.insta_div{
    display: flex;
    position: relative;
    border-radius: 25px;
    top: 6vh;
    width: 80%;
    height: 10vh;
    font-size: 1.4rem;
    background-color:#FF5B87;
    justify-content: center;
    align-items: center;
}
.instaicon{
    width: 100px;
    height: 100px;
    scale: 0.7;
    
    background: url(/src/assets/imgWeb/instagram.png) no-repeat;
    background-size: 100% auto; 

}
.cbon_div{
    position: relative;
    scale: 1.3;
    top: -5vh;
    right: -4.5vw;
    width: 33vw;
    height: 26.9vh;
    border-radius: 5px;
    
    background: url(/src/assets/imgWeb/cfigura.png) no-repeat;
    background-size: 100% auto; 
}
.change_Sizemain{
    display: flex;
    width: 100vw;
    height: 300px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.change_SizeValue{
    display: flex;
    width: 60%;
    height: 10vh;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: #FF5B87;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
}
.change_Sizemain_midle{
    display: flex;
    width: 60vw;
    height: 15vh;
    background-color: #FF5B87;
    border-radius: 30px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.change_Sizemain_midle_price{
    display: flex;
    font-size: 1.6rem;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.change_Sizemain_midle_slice{
    display: flex;
    font-size: 2.4rem;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.change_SizeValue_main{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}
.change_txt_tt{
    display: flex;
    background-color: #FF5B87;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}
.change_SizeValue_loss{
    display: flex;
    width: 30%;
    height: 100%;
    font-size: 2.1rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.change_SizeValue_aro{
    display: flex;
    width: 35%;
    height: 95%;
    font-size: 2.1rem;
    border-radius: 60px;
    box-shadow: 0 0 0 5px rgb(255, 255, 255); /* Simula uma borda branca com opacidade */

    align-items: center;
    align-content: center;
    justify-content: center;
}
.change_SizeValue_gain{
    display: flex;
    width: 30%;
    height: 100%;
    font-size: 2.1rem;
    
    align-items: center;
    align-content: center;
    justify-content: center;
}
.change_Sizemain_info{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: auto;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    background-color: #FF5B87;
}
.change_SizeValue_aro_txt{
    font-size: 1.9rem;
}
.change_animation_aro{
    animation: myAnim 2s ease 0s 1 normal forwards;
}
@keyframes scrollBackgroundDawn {
    0% {
        background-position: 0 0; /* Começa na posição inicial */
    }
    100% {
        background-position: 0 -100%; /* Move a imagem para baixo */
    }
}
@keyframes scrollBackgroundUp {
    0% {
        background-position: 0 0; /* Começa na posição inicial */
    }
    100% {
        background-position: 0 100%; /* Move a imagem para baixo */
    }
}
@keyframes myAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

@media screen and (min-width: 1000px) {
    
    .headerO{
        width: 100%;
    }
    .main_option{
        width: 100%;

    }
    .gif_section{
        width: 100%
    }
    .gif_div{
        display: flex;
        
        width: 100%;
        height: auto;
        margin: 10px;
    }

    .option_left_infos {
        width: 36vw;
    }
    
    .option_left_size{
        width: 34%;
        height: 240px;
    }
    .option_left_infos_ac{
        width: 100%;
        height: 35vh;
    }

    .change_SizeValue_main{
        display: flex;
        width: 500px;
        height: auto;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        
    }
    .change_SizeValue{
        display: flex;
        width: 60%;
        height: 10vh;
       
    }
  
    .change_Sizemain{
        display: flex;
        width: 500px;
        height: 300px;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .change_Sizemain_midle{
        display: flex;
        width: 80%;
        height: 15vh;
        background-color: #FF5B87;
        border-radius: 30px;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    
    }
    .option_left{
        width: 500px;
        height: 240px;
        justify-content: center;
        align-content: center;
        
        display: flex;
        
    }
    .option_left_size_ac {
        display: flex;
        width: 50%;
        height: auto;
        background-color: #FF7A99;
    }
    
    .option_a_buttom_ac{
        height: auto;

    }

    
    .options_indirecton {
        display: flex;
    
        height: 100%;
        flex-direction: column;
        align-items: flex-end;
        background-color: #fc6f90;
    }
    .option_a_ac {
        display: flex;
        position: relative;
        width: 113px;
        height: 50%;
        background-color: #FF5B87;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
    }
    .headerO_d{
        font-size: 0.8rem;
    }
    
  }