.slide_main {
    width: 100%;
}
.slide_content {
    width: 100%;
    
}
.slide_content_img {
    display: flex;
    align-items: center;
    height: 190px;
    background-size: 100%;
}
.slide_content_bottonL {
    position: relative;
    width: 4vw;
    height: 2vh;
    right: -1vw;
    background-color: aqua;
}